body {
    background-color: #efefef;
}

.main {
    color: darkolivegreen;
    font-size: 100px;
    font-weight: bold;
}

.container_or {
    background-color: aqua;
    display: flex;
    justify-content: center;
}
.ol1 {
    color: chocolate;
    background-color: bisque;
    margin-right: 0.2rem;
}
.ol2 {
    background-color: bisque;
}
.ol3 {
    background-color: bisque;
    margin-left: 0.2rem;
}


.container_youtube {
    display: flex;
    margin-left: 5em;
}

.youtube_box {
    margin: 0.5rem;
}